<h1>Name of Positions</h1>

		<table>
  <thead>
    <tr>
      <th>Position</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.positiontype %></td>
  
     
   
        <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Name a New Position</h2>
	<%= form_for @position do |f| %>

	<div class="field">
		<%= f.label :positiontype %><br>
		<%= f.text_field :positiontype %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
	<%end %>