<h1>Name of Players</h1>
	
	<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Player ID</th>
      <th>Cost</th>
   
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.yahooid %></td>
        <td><%= player.cost %></td>
     
   
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Name a New Player</h2>
	<%= form_for @player do |f| %>

	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div><br>

	<div class="field">
		<%= f.label :yahooid %><br>
		<%= f.text_field :yahooid %>
	</div><br>
	<div class="field">
		<%= f.label :cost %><br>
		<%= f.text_field :cost %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
	<%end %>


<% require 'nokogiri' %>
<% require 'open-uri' %>

<%url = "http://sports.yahoo.com/nba/stats/byposition?pos=PG,SG,G,GF,SF,PF,F,FC,C"%>
<%doc = Nokogiri::HTML(open(url))%>


<%stats2 = []%>

 

<%stats2.push(doc.css(".ysprow2").text.split(" ").each_slice(24).to_a)%>

<% "#{stats2}" %>

<%stats2[0].length.times do |b| %>



<% Playerstat.create(:firstname => stats2[0][b][0], :lastname => stats2[0][b][1], :team => stats2[0][b][2], :gp => stats2[0][b][3], :minutes => stats2[0][b][4], :fgm => stats2[0][b][5], :fga => stats2[0][b][6], :fgpct => stats2[0][b][7], :threem => stats2[0][b][8], :threea => stats2[0][b][9], :threepct => stats2[0][b][10], :ftm => stats2[0][b][11], :fta => stats2[0][b][12], :ftpct => stats2[0][b][13], :offreb => stats2[0][b][14], :defreb => stats2[0][b][15], :reb => stats2[0][b][16], :ast => stats2[0][b][17], :to => stats2[0][b][18], :stl => stats2[0][b][19], :blk => stats2[0][b][20], :pf => stats2[0][b][21], :ppg => stats2[0][b][22])%>

<% end %>





















