<h2>Name a New Player</h2>
	<%= form_for @player do |f| %>

	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div><br>

	<div class="field">
		<%= f.label :yahooid %><br>
		<%= f.text_field :yahooid %>
	</div><br>
	<div class="field">
		<%= f.label :cost %><br>
		<%= f.text_field :cost %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
	<%end %>